ul {
  margin: 0;
}

.main {
  text-align: left;
  height: max-content;
}

.result-block {
  padding: 20px 10px;
  border-top: 5px solid rgba(102, 102, 102, 0.3);
  border-bottom: 5px solid rgba(102, 102, 102, 0.3);
  background-color: rgb(204, 255, 238);
  margin: 10px 0;
}

.result-title {
  text-align: center;
  background-color: #fff;
  max-width: 200px;
  margin: 0 auto;
  padding: 0 10px;
  border: 2px solid cadetblue;
}

span {
  display: block;
  white-space: pre-line;
}

.result-list--nested {
  padding-left: 10px;
}
